.opt-bud-hidden.hidden,
.opt-bud.hidden {
	display: none;
}

.opt-bud {
	margin: 20px 0;
}

.opt-bud .email-container * {
	/* css reset */
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	font-size: 100%;
	font: inherit;
	font-family: Sen, helvetica, sans-serif;
	vertical-align: baseline;
	box-sizing: border-box;
	box-shadow: none;
	background: transparent;
	color: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-align: inherit;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	outline: 0;
}

.opt-bud .email-container,
.opt-bud .email-container h3,
.opt-bud .email-container div,
.opt-bud .email-container span,
.opt-bud .email-container p,
.opt-bud .email-container input,
.opt-bud .email-container button {
	width: auto;
	height: auto;
	font-size: 14px;
	line-height: 1em;
	color: #555;
	background-color: initial;
	font-family: inherit;
	letter-spacing: 1px;
}

.opt-bud .email-container {
	border: thin solid rgb(225, 225, 225);
	border-radius: 5px;
	background: #fff;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	z-index: 0;
}

.opt-bud .email-container input,
.opt-bud .email-container button {
	border-radius: inherit;
	border: inherit;
}

.opt-bud .email-container input::placeholder {
	color: inherit;
}

.opt-bud .email-container input,
.opt-bud .email-container input:active,
.opt-bud .email-container input:target,
.opt-bud .email-container input:visited,
.opt-bud .email-container input:focus,
.opt-bud .email-container input:focus-within,
.opt-bud .email-container input:focus-visible {
	border: 1px solid #999;
	background-color: #fff;
	box-shadow: none;
	outline: none;
}

.opt-bud .email-container form,
.opt-bud .email-container h3,
.opt-bud .email-container div,
.opt-bud .email-container p {
	display: block;
}

.opt-bud .email-container h3 {
	font-size: 1.6em;
	line-height: 1.4em;
}

.opt-bud .email-container p {
	margin: 10px 0 !important;
	font-size: 1.1em;
	line-height: 1.2em;
}

.opt-bud .email-container input:not([type="checkbox"], [type="radio"]) {
	min-width: 200px;
	height: 35px;
	padding: 0.6em 0.8em;
}

.opt-bud .email-container input[type="checkbox"],
.opt-bud .email-container input[type="radio"] {
	width: 16px;
	height: 16px;
}

.opt-bud .email-container button {
	height: 35px;
	padding: 0.6em 0.8em;
	background: #000;
	border: 1px solid #000;
	color: #fff;
	transition: none;
	cursor: pointer;
}

.opt-bud .email-container button>span {
	color: inherit;
}

.opt-bud .email-container button:hover {
	background: #000;
	border-color: #000;
	color: #fff;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.opt-bud .email-container .field {
	margin: 0;
}

.opt-bud .email-container .required {
	color: #b32d2e;
	margin-left: 2px;
}

.opt-bud .email-container .hidden {
	display: none;
}

.opt-bud .email-container .disclaimer {
	margin-top: 10px;
	font-size: 80%;
	font-weight: 300;
}

/* SUCCESS/ERROR MESSAGE */
/*.opt-bud .email-container .response {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px;
	background: white;
	border: 1px solid #ddd;
	opacity: .85;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	color: inherit;
}*/

.opt-bud .email-container.submitted .response {
	margin-top: 20px;
	font-size: 1.3em;
	color: inherit;
}

.opt-bud .email-container.submitted .header,
.opt-bud .email-container.submitted .body,
.opt-bud .email-container.submitted .disclaimer {
	opacity: .7;
}

.opt-bud .email-container.submitted input[name="name"],
.opt-bud .email-container.submitted input[name="email"],
.opt-bud .email-container.submitted button[type="submit"],
.opt-bud .email-container.submitted .disclaimer {
	display: none !important;
}

.opt-bud .email-container .loader {
	flex: 1;
	text-align: center;
}

.opt-bud .email-container .spinner {
	display: inline-block;
	border: 4px solid rgba(0, 0, 0, .2);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border-left-color: #64a74c;
	animation: spin 1s ease-in-out infinite;
}

.opt-bud .email-container .spinner.white {
	border: 4px solid rgba(255, 255, 255, .2);
	border-left-color: #fff;
}

/* Inview Styles */
.opt-bud {
	position: relative;
	transition: all .5s ease-out;
}

.opt-bud:not(.viewed).inview {
	z-index: 101;
}

.opt-bud .email-container {
	transition: all .5s ease-out;
}

.opt-bud:not(.viewed).inview .email-container {
	box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 40%);
	transition: all .5s ease-out;
}

.opt-bud .email-container .close {
	position: absolute;
	left: 20px;
	background-color: white;
	width: 50px;
	height: 25px;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: .9em;
	text-transform: lowercase;
	border: 1px solid #ddd;
	z-index: 1;
	color: inherit;
}

.opt-bud .email-container.top .close {
	display: flex;
	top: -25px;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
}

.opt-bud .email-container.bottom .close {
	display: flex;
	bottom: -25px;
	border-radius: 0 0 5px 5px;
	border-top: 0;
}

.opt-bud.bottom_right .email-container .close {
	display: flex;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	top: -13px;
	left: -13px;
}

.opt-bud.bottom_left .email-container .close {
	display: flex;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	top: -13px;
	right: -13px;
	left: unset;
}

.opt-bud .email-container .close:hover {
	background-color: #ddd;
	cursor: pointer;
}

/* FLOATING BOX STYLES */
.opt-bud.floating_box {
	position: fixed;
	bottom: 0;
	z-index: 1000000;
	margin: 0;
}

.opt-bud.floating_box.bottom_right {
	right: -725px;
	transition: right 1s ease-in;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
}

.opt-bud.floating_box.bottom_left {
	left: -725px;
	transition: left 1s ease-in;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
}

.opt-bud .email-container .hidden {
	display: none;
}

/* .opt-bud:not(.viewed).inview:after */
body.inview:after {
	content: '';
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	background: rgba(0, 0, 0, .5);
	transition: all .5s ease-out;
}

#preview-form-dialog .modal-body {
	padding: 0;
	height: auto;
}

/* ------------------ */

.opt-bud .email-container.form-1 {
	max-width: 700px;
}

.opt-bud .email-container.form-1 .field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
	white-space: nowrap;
	text-align: left;
}

.opt-bud .email-container.form-1 .field>input {
	/* flex-grow: 1; */
	/* subtract button width - gap */
	/* flex-basis: calc(100% - 110px); */
	flex: 100 1 auto;
}

.opt-bud .email-container.form-1 .field>button {
	/* flex-grow: 1; */
	/* flex-basis: 100px; */
	flex: 1 1 auto;
	text-align: center;
}

/* IF NAME FIELD IS ADDED... */
.opt-bud .email-container.form-1.has-name .field input {
	/* 170 (button width + gap + gap) / 2 */
	/* flex-basis: calc(50% - 60px); */
	min-width: 150px;
}

.opt-bud .email-container.form-1.has-name .field {
	flex-direction: column;
}

.opt-bud .email-container.form-1.has-name .field input[name="name"] {
	display: block;
}

/* ------------------ */

.opt-bud .email-container.form-2 {
	max-width: 700px;
}

.opt-bud .email-container.form-2 .content {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 10px;
	/* align-items: center; */
}

.opt-bud .email-container.form-2 .box {
	/* 	border: 1px solid; */
	flex-basis: calc(100% - 270px);
	flex-grow: 1;
	min-width: 250px;
}

.opt-bud .email-container.form-2 .box:first-child {
	/* flex-basis: 250px; */
	display: block;
	text-align: center;
}

.opt-bud .email-container.form-2 .box .image {
	background-position: center center;
	background-size: cover;
	min-height: 200px;
	height: 100%;
}

.opt-bud .email-container.form-2 .field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	white-space: nowrap;
	gap: 10px;
}

.opt-bud .email-container.form-2 .field input {
	/* flex-basis: calc(100% - 110px);
	flex-grow: 1; */
	flex: 100 1 auto;
}

.opt-bud .email-container.form-2 .field button {
	/* flex-basis: 100px;
	flex-grow: 1; */
	flex: 1 1 auto;
	text-align: center;
}

/* IF NAME FIELD IS ADDED... */
.opt-bud .email-container.form-2.has-name .field input {
	/* flex-basis: calc(50% - 10px); */
	min-width: 150px;
}

.opt-bud .email-container.form-2.has-name .field {
	flex-direction: column;
}

.opt-bud .email-container.form-2.has-name .field input[name="name"] {
	display: block;
}

/* ------------------ */

.opt-bud .email-container.form-3 {
	max-width: 700px;
}

.opt-bud .email-container.form-3 .content {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 10px;
	/* align-items: center; */
}

.opt-bud .email-container.form-3 .box {
	/* 	border: 1px solid; */
	flex-basis: calc(100% - 270px);
	flex-grow: 1;
	min-width: 250px;
}

.opt-bud .email-container.form-3 .box:first-child {
	flex-basis: 250px;
	display: block;
	text-align: center;
}

.opt-bud .email-container.form-3 .box .image {
	background-position: center center;
	background-size: cover;
	min-height: 200px;
	height: 100%;
}

.opt-bud .email-container.form-3 .field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	white-space: nowrap;
	gap: 10px;
}

.opt-bud .email-container.form-3 .field input {
	/* flex-basis: 100%;
	flex-grow: 1; */
	flex: 100 1 auto;
}

.opt-bud .email-container.form-3 .field button {
	/* flex-basis: 100%;
	flex-grow: 1; */
	flex: 1 1 auto;
	text-align: center;
}

/* IF NAME FIELD IS ADDED... */
.opt-bud .email-container.form-3.has-name .field input {
	/* 170 (button width + gap + gap) / 2 */
	/* flex-basis: calc(50% - 60px); */
	min-width: 150px;
}

.opt-bud .email-container.form-3.has-name .field {
	flex-direction: column;
}

.opt-bud .email-container.form-3.has-name .field input[name="name"] {
	display: block;
}

/* ------------------ */

.opt-bud .email-container.form-4 {
	max-width: 700px;
}

.opt-bud .email-container.form-4 .content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	column-gap: 20px;
	row-gap: 10px;
	/* align-items: center; */
}

.opt-bud .email-container.form-4 .box {
	/* 	border: 1px solid; */
	flex-basis: calc(100% - 270px);
	flex-grow: 1;
	min-width: 250px;
}

.opt-bud .email-container.form-4 .box:first-child {
	flex-basis: 250px;
	display: block;
	text-align: center;
}

.opt-bud .email-container.form-4 .box .image {
	background-position: center center;
	background-size: cover;
	min-height: 200px;
	height: 100%;
}

.opt-bud .email-container.form-4 .field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	white-space: nowrap;
	gap: 10px;
}

.opt-bud .email-container.form-4 .field input {
	/* flex-basis: 100%;
	flex-grow: 1; */
	flex: 100 1 auto;
}

.opt-bud .email-container.form-4 .field button {
	/* flex-basis: 100%;
	flex-grow: 1; */
	flex: 1 1 auto;
	text-align: center;
}

/* IF NAME FIELD IS ADDED... */
.opt-bud .email-container.form-4.has-name .field input {
	/* 170 (button width + gap + gap) / 2 */
	/* flex-basis: calc(50% - 60px); */
	min-width: 150px;
}

.opt-bud .email-container.form-4.has-name .field {
	flex-direction: column;
}

.opt-bud .email-container.form-4.has-name .field input[name="name"] {
	display: block;
}

/* ------------------ */

.opt-bud .email-container.form-5 {
	max-width: 700px;
	padding: 0;
	background: transparent;
	border: none;
}

.opt-bud .email-container.form-5 .image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

.email-container.form-5 h3,
.email-container.form-5 p,
.email-container.form-5 div,
.email-container.form-5 span {
	color: #fff;
}

.email-container.form-5 p,
.email-container.form-5 div,
.email-container.form-5 span {
	font-weight: 300;
}

.opt-bud .email-container.form-5 form {
	padding: 20px;
	background: rgba(0, 0, 0, .5);
}

.opt-bud .email-container.form-5 .field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	white-space: nowrap;
	gap: 10px;
}

.opt-bud .email-container.form-5 .field input {
	/* flex-basis: 100%;
	flex-grow: 1; */
	flex: 100 1 auto;
}

.opt-bud .email-container.form-5 .field button {
	/* flex-basis: 100%;
	flex-grow: 1; */
	flex: 1 1 auto;
	text-align: center;
}

/* IF NAME FIELD IS ADDED... */
.opt-bud .email-container.form-5.has-name .field input {
	/* 170 (button width + gap + gap) / 2 */
	/* flex-basis: calc(50% - 60px); */
	min-width: 150px;
}

.opt-bud .email-container.form-5.has-name .field {
	flex-direction: column;
}

.opt-bud .email-container.form-5.has-name .field input[name="name"] {
	display: block;
}

/* ------------------ */

.opt-bud.form-6 {
	position: sticky;
	z-index: 1000000;
	top: 0;
	left: 0;
	width: 100vw;
	height: auto;
	margin: 0;
}

.opt-bud.form-6 .email-container.form-6 {
	position: fixed;
	width: 100%;
	top: -300px;
	transition: top 2s ease-in;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}

.opt-bud .email-container.form-6 {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
	padding: 10px;
}

.opt-bud .email-container.form-6 .field {
	display: flex;
	align-items: center;
	gap: 10px;
}

.opt-bud .email-container.form-6 .field .body {
	font-size: 1.1em;
	/* flex: 1; */
}

.opt-bud .email-container.form-6 .field>input {
	flex: 1;
}

.opt-bud .email-container.form-6.has-name .field input[name="name"] {
	display: block;
}

.opt-bud .email-container.form-6 .response {
	flex: 1;
	text-align: center;
	margin-top: 0;
}

/* ------------------ */

section.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000011;
	display: none;
	overflow: hidden;
	outline: 0;
	box-sizing: border-box;

	font-size: 14px;
	line-height: 16px;
}

section.modal * {
	outline: 0;
	box-sizing: border-box;
	font-family: inherit;
}

body.modal-open section.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

section.modal .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

section.modal.fade .modal-dialog {
	transition: transform .3s ease-out;
}

section.modal.in .modal-dialog {
	transform: translate(0, 0);
}

@media (min-width: 768px) {
	section.modal .modal-dialog {
		margin: 10px auto;
	}

	section.modal .modal-content {
		box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
	}
}

@media (min-width: 768px) {
	section.modal .modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
}

section.modal .modal-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

section.modal .modal-header {
	padding: 10px;
	height: 40px;
	/* height: calc(40px - 20px); */
	background-color: #efefef;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #e5e5e5;
}

section.modal .modal-header .modal-title {
	text-transform: capitalize;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0;
	line-height: 1.4em;
}

section.modal .modal-header h4 {
	font-size: 1.2em;
}

section.modal .modal-header .close {
	float: right;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.2em;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	margin-top: -2px;
}

section.modal .modal-after:before,
section.modal .modal-body:before,
section.modal .modal-footer:before {
	content: '';
	display: table;
}

section.modal .modal-after:after,
section.modal .modal-body:after,
section.modal .modal-footer:after {
	clear: both;
}

section.modal .button {
	padding: 6px 12px !important;
	border-radius: 5px;
	font-size: 14px !important;
	font-weight: normal;
	text-transform: none;
	line-height: 1.4em !important;
	min-height: 35px !important;
	margin: 0;

	color: #2271b1;
	border-width: 1px;
	border-style: solid;
	border-color: #2271b1;
	background: #f6f7f7;
}

section.modal .button:hover {
	background: #f0f0f1;
	border-color: #0a4b78;
	color: #0a4b78;
}

section.modal .button.button-primary {
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
}

section.modal .button.button-primary:hover {
	background: #0a4b78;
	border-color: #0a4b78;
	color: #fff;
}

section.modal .modal-body {
	position: relative;
	background-color: #fff;
	padding: 15px;
	/* 100vh - margin (30px*2) + header height (40px) + footer height (55px) + body padding (15*2) = 60 + 40 + 55 + 30*/
	/* height: calc(100vh - 185px); */
	height: calc(100vh - 115px);
	/* due to box sizing we exclude padding from the height and width */
	max-height: 600px;
	overflow-y: auto;
	width: 100%;
}

section.modal .modal-footer {
	text-align: right;
	border-top: 1px solid #e5e5e5;
	padding: 10px;
	height: 55px;
	/* height: calc(50px - 20px); */
	background-color: #efefef;
	border-radius: 0 0 5px 5px;
}

section.modal .modal-footer .btn-close {
	float: left;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000010;
	background-color: #000;
	display: none;
}

body.modal-open .modal-backdrop {
	display: block;
}

.fade {
	opacity: 0;
	transition: opacity .15s linear;
}

.fade.in {
	opacity: 1;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop.in {
	opacity: .7;
}

section.modal.info .modal-body {
	height: auto;
	min-height: 200px;
}