To change the CSS for your optin form, use the selectors below:
<p>
	<strong>Form Container:</strong>
	<code>.opt-bud .email-container {}</code>
</p>
<p>
	<strong>Form Image:</strong>
	<code>.opt-bud .email-container .image {}</code>
</p>
<p>
	<strong>Form Title:</strong>
	<code>.opt-bud .email-container h3 {}</code>
</p>
<p>
	<strong>Form Body:</strong>
	<code>.opt-bud .email-container p {}</code>
</p>
<p>
	<strong>Form Button:</strong>
	<code>.opt-bud .email-container .button {}</code>
</p>
<p>
	<strong>Form Button Hover:</strong>
	<code>.opt-bud .email-container .button:hover {}</code>
</p>
<p>
	<strong>Form Disclaimer:</strong>
	<code>.opt-bud .email-container .disclaimer {}</code>
</p>
<p>
	<strong>Form Sucess Message:</strong>
	<code>.opt-bud .email-container.submitted .message {}</code>
</p>
<p>
	<strong>Form Spinner:</strong>
	<code>.opt-bud .email-container .spinner {}</code>
</p>

<h3>Here are some examples:</h3>

<p>
	<strong>To increase the font size of the disclaimer:</strong>
	<code>.opt-bud .email-container .disclaimer {font-size:1em;}</code>
	<span class="desc"><strong>Note:</strong> 1em is the same as 14px</span>
</p>

<p>
	<strong>To change the background color of the button to red:</strong>
	<code>.opt-bud .email-container .button {background-color: #ff0000;}</code>
</p>

<p>
	<strong>To change the background color of the button to red and the font color to white:</strong>
	<code>.opt-bud .email-container .button {background-color: #ff0000; color: #fff;}</code>
</p>

<p>
	<strong>To change the color of the spinner:</strong>
	<code>.opt-bud .email-container .spinner {border-color: rgba(0, 0, 0, .2); border-left-color: #64a74c;}</code>
</p>